/* Variables */
/* MAP */
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #e7e7e7; }

body {
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  background-color: #e7e7e7; }

/* GRID */
.grid-container {
  grid-template-rows: 10em auto 10em;
  grid-template-columns: 10em auto 10em; }
  .grid-container .header {
    grid-column: 2/3; }
  .grid-container .main {
    grid-column: 1/4;
    grid-row: 2/3; }
  .grid-container .footer-container {
    grid-column: 1/4;
    grid-row: 3/4; }

/* HEADER */
.logo {
  width: 11rem;
  margin-left: 10rem; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu_items {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center; }

.menu_items li {
  font-weight: 600;
  font-size: 2.2rem;
  margin: 0 3rem; }

.menu_items a {
  text-decoration: none;
  color: #070707;
  text-transform: uppercase; }

.menu_items li:hover a {
  color: #5959c9;
  transition: .4s; }

.menu_items li.active a {
  color: #2F2F9E; }

/*burger*/
.contenedor-logo {
  margin: auto;
  text-align: center; }

.nav-input, .nav-label {
  display: none; }

/* FOOTER */
.footer-container {
  display: flex;
  width: 100%;
  height: 30rem;
  background-color: #2F2F9E;
  margin-top: 20rem;
  margin-right: 0;
  margin-bottom: 0;
  align-content: center;
  justify-content: center; }

.footer {
  margin-top: 7.5rem; }

.footer p {
  display: flex;
  font-size: 2rem;
  color: #e7e7e7;
  justify-content: center;
  align-content: center;
  margin-bottom: 4rem; }

.footer_icons {
  display: flex;
  align-items: center;
  justify-content: center; }

.footer_icons img {
  margin-left: 5rem;
  margin-right: 5rem;
  width: 5em; }

/*TEXTO Y PARRAFO PRINCIPAL*/
.principal {
  display: flex;
  margin-right: 8em;
  margin-left: 8em;
  color: #000000;
  max-width: 1800px;
  align-items: center;
  margin-top: 20rem; }
  .principal_texto h1 {
    background: #ccc;
    background: linear-gradient(15deg, black, #2F2F9E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 15rem;
    text-align: center;
    line-height: 15rem; }
    .principal_texto h1:hover {
      background: #ccc;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(15deg, #2F2F9E, #000000);
      -webkit-background-clip: text;
      transition: .1s; }
  .principal_texto p {
    margin-top: 10rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 200;
    line-height: 5rem; }
    .principal_texto p:hover {
      font-style: italic; }

/*ATAJOS PARA EL USUARIO*/
.box-resume {
  display: flex;
  align-items: center;
  flex-flow: column; }
  .box-resume_first {
    display: flex;
    color: #e7e7e7;
    margin: 0 auto;
    margin-top: 25rem;
    width: 90rem;
    height: 20rem;
    background-color: #2F2F9E;
    border-radius: 3rem;
    cursor: pointer;
    line-height: 20rem; }
    .box-resume_first :hover {
      font-weight: 600;
      transition: .2s; }
    .box-resume_first h2 {
      margin: 0 auto;
      font-size: 5rem;
      font-weight: 200; }
      .box-resume_first h2 a {
        text-decoration: none;
        color: #e7e7e7; }
  .box-resume_second {
    display: flex;
    color: #e7e7e7;
    margin: 0 auto;
    margin-top: 15rem;
    width: 90rem;
    height: 20rem;
    background-color: #2F2F9E;
    border-radius: 3rem;
    cursor: pointer;
    line-height: 20rem; }
    .box-resume_second :hover {
      font-weight: 600;
      transition: .2s; }
    .box-resume_second h2 {
      margin: 0 auto;
      font-size: 5rem;
      font-weight: 200; }
      .box-resume_second h2 a {
        text-decoration: none;
        color: #e7e7e7; }

/*OPINIONES DE CLIENTES*/
.opinions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .opinions h3 {
    color: #2F2F9E;
    font-weight: 500;
    margin-top: 20rem;
    font-size: 7rem;
    justify-content: center; }
  .opinions p {
    color: #e7e7e7; }
  .opinions_first {
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 23rem;
    background-color: #040355;
    margin: 0 auto;
    margin-top: 15rem;
    align-items: center; }
    .opinions_first p {
      display: flex;
      font-size: 2rem;
      justify-content: center;
      text-align: left;
      margin-left: 5rem;
      margin-right: 2.5rem; }
    .opinions_first img {
      display: flex;
      margin-left: 3rem;
      width: 15rem;
      height: 15rem;
      border-radius: 10px; }
  .opinions_second {
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 23rem;
    background-color: #040355;
    margin: 0 auto;
    margin-top: 10rem;
    align-items: center; }
    .opinions_second p {
      display: flex;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      text-align: left;
      margin-left: 5rem;
      margin-right: 2.5rem; }
    .opinions_second img {
      display: flex;
      margin-left: 3rem;
      width: 15rem;
      height: 15rem;
      border-radius: 10px; }
  .opinions_third {
    display: flex;
    border-radius: 20px;
    width: 70%;
    height: 23rem;
    background-color: #040355;
    margin: 0 auto;
    margin-top: 10rem;
    align-items: center; }
    .opinions_third p {
      display: flex;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      text-align: left;
      margin-left: 5rem;
      margin-right: 2.5rem; }
    .opinions_third img {
      display: flex;
      margin-left: 3rem;
      width: 15rem;
      height: 15rem;
      border-radius: 10px; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .nav-desplegable {
    display: none; } }

@media screen and (max-width: 768px) {
  .nav-label {
    display: block;
    cursor: pointer; }
  .nav-img {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    width: 10rem; }
  .nav-menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    background-color: #e7e7e7;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: .2s; }
  .menu_items {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu_items li {
    font-size: 7rem; }
  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  /*.navbar-container{
        display: none;
    }*/
  html {
    font-size: 30%; }
  .logo {
    position: absolute;
    width: 15rem;
    margin-top: 3em;
    margin-bottom: 3em;
    margin: auto;
    padding-left: 4rem;
    text-align: center; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 20%; } }
