/* HEADER */

.logo{
    width: 11rem;
    margin-left: 10rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_items {
    display: flex;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}

.menu_items li {
    font-weight: 600;
    font-size: 2.2rem;
    margin: 0 3rem;
}

.menu_items a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    text-transform: uppercase;
}
 
.menu_items li:hover a{
    color: #5959c9;
    transition: .4s;
}

.menu_items li.active a{
    color: #2F2F9E;
}

/*burger*/

.contenedor-logo{
    margin:auto;
	text-align:center;
}



.nav-input, .nav-label{
    display: none;
}