/* Variables */
@import "../misc/variables";
@import "../misc/normalize";
@import "../partials/header";
@import "../misc/mixins";
@import "../partials/footer";
@import "../misc/mediaqueries";





/*MAIN*/

.container {
    margin-top: 20rem;
    font-size: 4rem;
    color: #000000;
    
}

.imagen3{
    display: none;
}


.texto1 {


    h2 {
        font-size: map-get($text-styles, title);

        &:hover {
            color: $Resaltado;
            transition: .2s;
        }
    }

    p {
        font-size: map-get($text-styles, parrafos);
    }

}

.imagen1 {
    height: 60rem;
    justify-content: flex-end;

    &:hover {
        height: 65rem;
        transition: .5s;
    }


}

.texto2 {
    h2 {
        font-size: map-get($text-styles, title);


        &:hover {
            color: $Resaltado;
            transition: .2s;
        }
    }

    p {
        font-size: map-get($text-styles, parrafos);
    }
}

.imagen2 {
    height: 45rem;

    &:hover {
        height: 47rem;
        transition: .5s;
    }

}

/* MEDIA QUERIES EXTRA */


@media screen and (max-width: 768px){

    

    html {
        font-size: 30%;
    }
  

    .imagen3{
        display: flex;
        width: 80rem;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0 auto;
        margin-left: 10rem;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-left: 6rem;
    }
    
    
.imagen1{
    display: none;

}

.imagen2{
    display: none;
}


.texto1{
    justify-content: center;
    align-content: center;
    margin-left: 4rem;
}

.texto2{
    justify-content: center;
    align-content: center;
    margin-left: 5rem;
}
}


@media screen and (max-width: 590px){

    .imagen3{
        margin-left: 7rem;
    }
}