@import "../misc/variables";
@import "../misc/normalize";
@import "../partials/header";
@import "../partials/footer";
@import "../misc/mediaqueries";







/* FORMULARIO INICIO DE SESIÓN */


.login-page {
  width: 70em;
  height: 100em;
  padding: 8% 0 0;
  margin: auto;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 4.5em;
    text-align: center;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2), 0 2em 3em 0 rgba(0, 0, 0, 0.24);

    .texto {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3em;
        padding: 0.5em;
        color: #000000;

      }

      p {
        font-size: 1.5em;
        color: #242424;
        margin-bottom: 2em;
        margin-left: 1em;


      }
    }

    input {
      font-family: "Roboto", sans-serif;
      width: 70%;
      border: 1;
      border-color: #e4e4e4;
      border-radius: 0.5em;
      margin-bottom: 1.5em;
      padding: 1.5em;
      font-size: 1.4em;
    }

    button {
      font-family: "Inter", sans-serif;
      background: linear-gradient(135deg, #000000 0%, #2F2F9E 100%);
      border-radius: 8px;
      width: 50%;
      padding: 1.2em;
      color: #FFFFFF;
      font-size: 1.4em;
      cursor: pointer;

      &:hover,
      .form button:active,
      .form button:focus {
        background: linear-gradient(135deg, #000000 0%, #151549 100%);
        transition: .3s;
      }
    }

    .message {
      margin: 1.5em 0 0;
      color: #303030;
      font-size: 1.3em;

      a {
        color: #4dbeff;
        text-decoration: none;
      }
    }
  }

}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {

  html {
      font-size: 30%;
  }
}