@import "../misc/variables";
@import "../misc/normalize";
@import "../partials/header";
@import "../partials/footer";
@import "../misc/mediaqueries";





/*MAIN*/

.container {
    margin-top: 10rem;
    font-size: 4rem;
    color: #000000;

    h2 {
        display: flex;

        margin-bottom: 7rem;
        font-size: 6rem;
        justify-content: center;

    }

    &-first {
        margin-left: 7rem;
        margin-right: 7rem;
        display: flex;
        justify-content: center;

        .texto1 {

            font-size: 3rem;
            margin-left: 3rem;

        }

        .imagen1 {
            height: 40rem;
            justify-content: flex-end;
            float: left;

            &:hover {
                height: 45rem;
                transition: .5s;
            }
        }


    }

    &-second {
        margin-top: 10rem;
        margin-left: 7rem;
        margin-right: 7rem;
        display: flex;
        justify-content: center;

        .texto2 {
            font-size: 3rem;
            margin-right: 3rem;
        }




        .imagen2 {
            height: 40rem;

            &:hover {
                height: 45rem;
                transition: .5s;
            }
        }


    }





}




/* MEDIA QUERIES */






@media screen and (max-width: 768px) {

    html {
        font-size: 30%;
    }

    .container h2 {
        font-size: 4rem
    }

    

    .container-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .container-second {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .imagen2 {
        margin-bottom: 5rem;
    }


   



}

@media screen and (max-width: 590px) {



    .imagen1 {
        height: 30rem;

    }

    .imagen2 {
        height: 30rem;

    }
}



