/* MEDIA QUERIES */

@media screen and (min-width: 768px){
    
    .nav-desplegable{
        display: none;
    }
}



@media screen and (max-width: 768px){
    
.nav-label{
    display: block;
    
    cursor: pointer;
}




.nav-img{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    width: 10rem;
}

.nav-menu{
    position: fixed;
    top: 200px;
    bottom: 0;
    background-color: $secondary;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: .2s
}

.menu_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu_items li{
    font-size: 7rem;
    
}



.nav-input:checked + .nav-menu {
    clip-path: circle(100% at center);
}
    
    /*.navbar-container{
        display: none;
    }*/

    html{
        font-size: 30%;
    }

   
    
    .logo {
        position: absolute;
        width: 15rem;
        margin-top: 3em;
        margin-bottom: 3em;
        margin:auto;
        padding-left: 4rem;
        text-align: center;
        
        
        
    }
}

@media screen and (max-width: 480px){
    
    html{
        font-size: 20%;
    }
}