/* Variables */


    $principal: #2F2F9E;
    $secondary: #e7e7e7;
    $terciary: #000000;
    $Resaltado: #5959c9;
    $font-primary: "Inter", sans-serif;
    $font-secondary: "Bowly One SC", cursive;

    